html {   
    font-family: 'Roboto Slab', serif !important; 
    scroll-behavior: smooth;    
}

body {
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#3d275c;
}

.caption {
    text-align: center;
}

.header {    
    background: url("content/free-photo.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    text-align: center;
    height: 100vh;    
}

.header__caption {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

.header__text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

.navigator__list {
    display: none;
}
.navigator__btn {
    position: fixed;
    top: 3%;
    left: 5%;
    font-size: 25px;
    z-index: 2;    
}

.navigator__list--dropdown {      
    position: fixed;
    margin: 0;  
    padding: 5px;    
    height: 100%;        
    left: 0;
    top:0;
    z-index: 1;
    background:#3d275c;  
}

.navigator__list__elem__link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.about__image {
    display: none;    
}

.about__text {
    text-align: justify;
    padding: 10px;
}

.about__text__caption {
    text-align: center;
}

.skills {
    width: 90%;
}

.skills__list {
    list-style-position: outside;
    padding: 0;
}

.skills__list__element {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills__list__element__icon {
    display: none !important;
}

.skills__list__element__progressbar {
    width: 60%;
    height: 40px;
    background: #ddd;    
    border-radius: 10px;
}

.skills__list__element__progressbar--covered {
    height: 40px;    
    background-color: #00b8b1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 0%;
    transition:width 2s;  
}

.experience {
    position: relative;
    display: flex; 
    flex-direction: column;         
}

.experience__content {
    display: block;
    text-align: justify;
    padding: 10px;
}

.projects { 
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;   
}

.projects__text {
    margin: 10px;
    text-align: justify;
}

.projects__list__element {    
    width: 300px;    
    height: 250px;
    background: #3d275c;
    padding-top: 30px;
    margin: 10px;    
}

.project__list__link {
    color: white;
    text-align: center;
    text-decoration: none;       
}


.contact {
    width: 100%;
    background:#3d275c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.contact__form {
    width: 50%;
    margin: auto;
    padding: 20px;
}

.contact__form input,textarea {
    background: transparent;
    border-width: 0 0 1px 0;
    border-color: #DDD;
    display: block;
    width: 100%;
    padding: 0 12px 6px 0;
    color: #F3F3F3;
    margin-top: 20px;
    
}

.contact__btn__send {       
    border: none;  
    background: transparent;
    cursor: pointer;
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    font-size: 2em;
}

.footer {
    background: #30223b;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;   
    align-items: flex-start;  
    margin: 0;
    padding-top: 10px;
    color: white;
}

.footer__content a {
    color: white;
}



@media (min-width:768px) {
    .skills__list__element__icon {
        display: inline-block !important;
    }
    .projects__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 1000px) {
    .about {        
        padding: 50px;
        display: flex;
        justify-content: space-around;
    }

    .about__image {
        display: block;        
        width: auto;
        max-height:100%;
        border-radius: 20px;
    }

    .about__text {
        padding: 20px;
    }
    
    .navigator {   
        display: flex;
        margin: 0;   
        width: 100%;     
        top: 0;    
        z-index: 2;    
        background: #3d275c;
        font-size: 1.5em;
    }

    .navigator__btn {
        display: none;
    }

    .navigator--scroll {
        position: fixed;    
        box-shadow: 0 5px rgba(0,0,0,0.1);           
    }

    .navigator__list {       
        display: flex;
        flex-direction: row; 
        flex: 1;   
        list-style-type: none;
        justify-content: space-around;
        margin: 0;
        padding: 0; 
        transition: all 0.5s;  
    }        

    .navigator__list__elem {
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigator__list__logo {
        flex: 1;
        display: inline-block;  
        left: 0; 
        max-width: 0;
        overflow: hidden;
        background: white;
        transition: all .5s;  
        text-align: center;
    }  
        
    .navigator__list__logo--active {
        max-width: 500px;
    }
    .navigator__list__elem__link--pageup {
        color: #3d275c;
        top: 50%;
    }    
  
    .experience__container {
        display: flex;
        align-items: flex-start;
    }
}

